html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

header {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.bg--light-black {
  background-color: #2e323f;
}

.flex {
  display: flex;
}

.toggle--relative {
  position: relative;
}

.align--center {
  align-items: center;
}

.justify--center {
  justify-content: center;
}

.text--white {
  color: #ffffff;
}

.text--light-brown {
  color: #a59678;
}

.nowrap {
  white-space: nowrap;
}

/* primary navigation */
.nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 1.5em 0;
}

.nav__logo,
.nav__menu {
  list-style-type: none;
}

.nav__logo {
  flex: 1;
}

.nav__logo__img {
  display: block;
}

.nav__menu {
  display: none;
  margin-top: 1.25em;
}

.nav__item {
  margin-top: 1em;
}

.nav__item:first-child {
  margin-top: 0;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.nav__link:focus-visible {
  outline: 2.5px dotted #ffffff;
  outline-offset: 0.25em;
}

.nav__link:not(.nav__link--without-underline)::after {
  content: "";
  background-color: #ffffff;
  height: 0.1em;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__link:not(.nav__link--without-underline):hover::after {
  transform: scaleX(1);
}

.cta {
  background-color: #a59678;
  border-radius: 6.25rem;
  padding: 0.5em 2em;
  display: inline-block;
  align-self: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-size: clamp(0.9rem, calc(2.167vw - 0.125em), 1.5rem);
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.cta:hover {
  background-color: #6e6656;
}

/* Toggle */
.toggle {
  padding: 0.5em;
  width: fit-content;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
}

.toggle__active {
  appearance: none;
  position: absolute;
}

.toggle__active:checked ~ .nav__menu {
  display: block;
}

.hamburger {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 0.15rem;
  margin-bottom: 0.375rem;
  width: 1.5rem;
}

.hamburger:last-child {
  margin-bottom: 0;
}

/* Hero Section */
.hero {
  background-color: #3b4050;
}

.hero__title {
  text-align: center;
  padding: 5rem 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, calc(7.667vw - 0.125rem), 5.625rem);
}

.hero__content {
  padding-bottom: 3rem;
  flex-direction: column;
}

.hero__text {
  margin-bottom: 2rem;
  font-size: clamp(0.9rem, calc(2.167vw - 0.125em), 1.5rem);
}

/* Benefit Content section */
.benefit-content {
  background-color: #d3d8e7;
  padding: 3rem 0;
}

.content:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-size: clamp(1.25rem, calc(2.667vw - 0.125rem), 1.875rem);
}

.content__text {
  font-size: clamp(0.9rem, calc(1.667vw - 0.125rem), 1.125rem);
}

/* Explanation Content */

.explanation__title {
  font-size: clamp(1.875rem, calc(3.167vw - 0.125rem), 2.25rem);
}
.explanation-content {
  padding: 3em 0;
  background-color: #ffffff;
}

.explanation__text {
  font-size: clamp(0.9rem, calc(1.917vw - 0.125rem), 1.313rem);
}

.content__img {
  display: inline-block;
  margin: 3rem 0;
  width: clamp(18.75rem, calc(50vw - 6.25rem), 31.25rem);
  height: auto;
}
