html {
  box-sizing: border-box;
  background-color: rgb(159, 156, 156);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100svh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.text--center {
  text-align: center;
}

.inner {
  padding: 5rem 0;
}

.bg--light-black {
  background-color: #2e323f;
}

.flex {
  display: flex;
}

.toggle--relative {
  position: relative;
}

.align--center {
  align-items: center;
}

.justify--center {
  justify-content: center;
}

.text--white {
  color: #ffffff;
}

.text--light-brown {
  color: #a59678;
}

.nowrap {
  white-space: nowrap;
}

/* primary navigation */
.nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 1.5em 0;
}

.nav__logo,
.nav__menu {
  list-style-type: none;
}

.nav__logo {
  flex: 1;
}

.nav__menu {
  display: none;
  margin-top: 1.25em;
}

.block {
  display: block;
}

.nav__item {
  margin-top: 1em;
}

.nav__item:first-child {
  margin-top: 0;
}

.nav__link {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.text--gray {
  color: #6f737f;
}

.nav__link:focus-visible {
  outline-offset: 0.25em;
  outline: 2.5px dotted #ffffff;
}

.nav__link:not(.nav__link--without-underline)::after {
  background-color: #ffffff;
  bottom: 0;
  content: "";
  height: 0.1em;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.nav__link:not(.nav__link--without-underline):hover::after {
  transform: scaleX(1);
}

.cta {
  align-self: center;
  background-color: #a59678;
  border-radius: 6.25rem;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.9rem, calc(2.167vw - 0.125em), 1.5rem);
  font-weight: 700;
  padding: 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover {
  background-color: #6e6656;
}

/* Toggle */
.toggle {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  position: absolute;
  right: 0;
  width: fit-content;
}

.toggle__active {
  appearance: none;
  position: absolute;
}

.toggle__active:checked ~ .nav__menu {
  display: block;
}

.hamburger {
  background-color: #ffffff;
  content: "";

  height: 0.15rem;
  margin-bottom: 0.375rem;
  width: 1.5rem;
}

.hamburger:last-child {
  margin-bottom: 0;
}

/* Hero Section */
.hero {
  background-color: #3b4050;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2rem, calc(7.667vw - 0.125rem), 5.625rem);
  font-weight: 700;
  padding-bottom: 5rem;
}

.hero__content {
  flex-direction: column;
}

.hero__text {
  font-size: clamp(0.9rem, calc(2.167vw - 0.125em), 1.5rem);
  margin-bottom: 2rem;
}

/* Benefit Content section */
.benefit-content {
  background-color: #e7e8ed;
}

.content:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.25rem, calc(2.667vw - 0.125rem), 1.875rem);
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.content__text {
  font-size: clamp(0.9rem, calc(1.667vw - 0.125rem), 1.125rem);
}

/* Explanation Content */

.explanation__title {
  font-size: clamp(1.875rem, calc(3.167vw - 0.125rem), 2.25rem);
}
.explanation-content {
  background-color: #ffffff;
}

.explanation__text {
  font-size: clamp(0.9rem, calc(1.917vw - 0.125rem), 1.313rem);
}

.content__img {
  aspect-ratio: 16/9;
  height: auto;
  margin: 3rem 0;
  max-width: 100%;
  object-fit: cover;
}

/* sidebar */
.sidebar {
  margin-top: 3rem;
}

.sidebar__content {
  padding: 2.5em 3em;
}

/* footer */
.footer__title {
  font-size: clamp(2.25rem, calc(3.667vw - 0.125em), 2.625rem);
  margin-bottom: 4rem;
}

.nav__secondary {
  padding-top: 0;
}

.nav__secondary--no-padding-bottom {
  padding-bottom: 0;
}

.footer__text {
  font-size: clamp(0.875rem, calc(1.5vw - 0.125rem), 1rem);
  font-weight: 400;
}

.footer .nav__link {
  text-transform: none;
}

.footer .nav__link::after {
  transform-origin: bottom left;
}

@media (min-width: 62.5rem) {
  .sidebar {
    display: flex;
    justify-content: space-around;
  }

  .sidebar__content {
    width: 30%;
    padding: 2.5em 1em;
  }

  .content:not(:last-child) {
    margin-bottom: 0;
  }
}
