html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

header {
  background-color: #2e323f;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.container {
  position: relative;
  align-items: center;
}

/* primary navigation */
.nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 2em 0;
  width: 80%;
  position: relative;
}

.nav__logo,
.nav__menu {
  list-style-type: none;
}

.nav__logo {
  flex: 1;
  justify-content: center;
}

.nav__logo__img {
  display: block;
}

.nav__menu {
  display: none;
  margin-top: 1.25em;
}

.nav__item {
  margin-top: 1em;
}

.nav__item:first-child {
  margin-top: 0;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav__link:focus-visible {
  outline: 2.5px dotted #ffffff;
  outline-offset: 0.25em;
}

.nav__link:not(.nav__link--without-underline)::after {
  content: "";
  background-color: #ffffff;
  height: 0.1em;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__link:not(.nav__link--without-underline):hover::after {
  transform: scaleX(1);
}

.cta {
  background-color: #a59678;
  border-radius: 6.25rem;
  padding: 0.5em 2em;
  display: inline-block;
  cursor: pointer;
}

.cta:hover {
  background-color: #6e6656;
}

/* Toggle */
.toggle {
  background-color: rgb(35, 48, 61);
  padding: 1em;
  width: fit-content;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
}

.toggle__active {
  appearance: none;
  position: absolute;
}

.toggle__active:checked ~ .nav__menu {
  display: block;
}

.hamburger {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 0.2rem;
  margin-bottom: 0.375rem;
  width: 1.75rem;
}

.hamburger:last-child {
  margin-bottom: 0;
}
